body{
    background-color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
}
header{
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(231, 233, 252, 1)
}
header .container{
    width: 1158px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    margin-right: 76px;
}
.menu-link a{
    text-decoration: none;
    color: rgba(46, 47, 66, 1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    padding: 24px 0;
}
.menu-link a:hover{
    color: rgba(64, 75, 191, 1);
}
.nav-link:active{
    text-decoration: underline;
}
.contact-link{
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
}
.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: rgba(46, 47, 66, 1);
    font-size: 24px;
    margin-right: 76px;
}
.web-logo{
    color: rgba(77, 90, 229, 1);
}
.title .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 188px;
    padding-bottom: 188px;
}
.service{
    height: 56px;
    width: 169px;
    border: none;
    border-radius: 4px;
    background-color: rgba(77, 90, 229, 1);
    padding: 16px, 32px, 16px, 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    cursor: pointer;
    min-width: 169px;
}
.service:hover{
    background-color: rgba(64, 75, 191, 1);
}
.address{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}
.address :hover{
    color: rgba(64, 75, 191, 1);
}
.card-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 4px 4px;
    background: rgba(255, 255, 255, 1);
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-title{
    font-size: 36px;
    margin-bottom: 72px;
}
.title-text{
    color: white;
    max-width: 496px;
    line-height: 60px;
    text-align: center;
    font-size: 56px;
}
.advantages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    list-style-type: none;
}
.advantages-list{
    width: 264px;
}
.title{
    padding: 188px 0;
    background: rgba(46, 47, 66, 1);
}
.section{
    padding: 120px 0;
}
.footer-link{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    max-width: 264px;
    color: rgba(244, 244, 253, 1);
}
.footer{
    padding: 100px 0;
    background: rgba(46, 47, 66, 1);
}
.section-team{
    background: rgba(244, 244, 253, 1);
    height: 732px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}
.name{
    text-align: center;
    margin-bottom: 8px;
}
.card-p{
    text-align: center;
}
.card-one{
    padding: 32px 0;
}
.footer .container{
    display: flex;
    flex-direction: column;
    margin-left: 156px;
}
.footer .logo{
    color: rgba(244, 244, 253, 1);
}
.section-team .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}